<a-scene mindar-image="imageTargetSrc: ./assets/ar/targets.mind;" vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">
    <a-assets>
        <video id="nonfic-blue-vid" src="assets/ar/nonfic-blue-vid.mp4" autoplay loop muted playsinline></video>
        <video id="nonfic-orange-vid" src="assets/ar/nonfic-orange-vid.mp4" autoplay loop muted playsinline></video>
        <video id="wbt-vid-1" src="assets/ar/wbt-1.mp4" autoplay loop muted playsinline></video>
        <video id="face1" src="assets/ar/face1.mp4" autoplay loop muted playsinline></video>
        <video id="face2" src="assets/ar/face2.mp4" autoplay loop muted playsinline></video>
        <video id="face3" src="assets/ar/face3.mp4" autoplay loop muted playsinline></video>
        <video id="face4" src="assets/ar/face4.mp4" autoplay loop muted playsinline></video>
        <video id="face5" src="assets/ar/face5.mp4" autoplay loop muted playsinline></video>
        <video id="face6" src="assets/ar/face6.mp4" autoplay loop muted playsinline></video>
        <video id="wbt-vid-2" src="assets/ar/wbt-2.mp4" autoplay loop muted playsinline></video>
        <video id="wbt-vid-3" src="assets/ar/wbt-3.mp4" autoplay loop muted playsinline></video>
        <img id="elozek" src="assets/ar/elozek.jpg">
    </a-assets>
    <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>
    <a-entity mindar-image-target="targetIndex: 0">
        <a-video src="#nonfic-blue-vid" position="0 0 0" width="1" height="0.7072" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 1">
        <a-video src="#nonfic-orange-vid" position="0 0 0" width="1" height="0.7072" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 2">
        <a-video src="#wbt-vid-1" position="0 0 0" width="1" height="0.5588" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 3">
        <a-video src="#face1" position="0 0 0" width="1" height="1.5017" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 4">
        <a-video src="#face2" position="0 0 0" width="1" height="1.5017" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 5">
        <a-video src="#face3" position="0 0 0" width="1" height="1.5017" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 6">
        <a-video src="#face4" position="0 0 0" width="1" height="1.5017" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 7">
        <a-video src="#face5" position="0 0 0" width="1" height="1.5017" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 8">
        <a-video src="#face6" position="0 0 0" width="1" height="1.5017" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 9">
        <a-video src="#wbt-vid-2" position="0 0 0" width="1" height="0.4997" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 10">
        <a-video src="#wbt-vid-3" position="0 0 0" width="1" height="1" rotation="0 0 0"></a-video>
    </a-entity>
    <a-entity mindar-image-target="targetIndex: 11">
        <a-image src="#elozek" position="0 0 0" width="1" height="0.7068" rotation="0 0 0"></a-image>
    </a-entity>
</a-scene>
