<div class="text-container">
    <div class="title-container">
        <p>Evillu - Tamás Evelin, illusztrátor</p>
    </div>
    <div class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim mi urna, sed suscipit orci volutpat vitae. Donec suscipit magna quis mauris aliquam imperdiet. Ut elit neque, condimentum nec nibh vitae, interdum mattis ex. Aenean vel egestas nibh. Cras vel vehicula ante, non sagittis ligula. Pellentesque dictum finibus leo nec pulvinar. Quisque vehicula facilisis justo at pellentesque. Donec congue magna metus, eget laoreet justo sodales at. Aliquam erat volutpat.
    </div>
    <div class="paragraph">
        Nullam leo lacus, mattis eu dictum id, faucibus at quam. Ut dolor enim, commodo luctus pharetra vel, vehicula eget ante. Praesent ultricies, erat ut efficitur dignissim, nibh nisi rutrum lectus, eget viverra ipsum odio et velit. Aenean ut ipsum purus. Nullam sed dictum mauris, ac dapibus libero.
    </div>
    <div class="paragraph">
        Különösen szeretek embereket, állatokat, meg kaját rajzolni.
    </div>
    <div class="subtitle-container">
        <p>Kapcsolat</p>
    </div>
    <div class="paragraph" style="display: flex;">
        <ul style="padding-right: 5vw;">
            <li class="selectable">_evillu</li>
            <li class="selectable">evelin.illustration@gmail.com</li>
        </ul>
    </div>
</div>
