<div class="text-container">
    <div class="title-container">
        <p>Evillu - Tamás Evelin, illusztrátor</p>
    </div>
    <div class="paragraph">
       Heló!
       <br>
       Evi vagyok, illusztrátor.
    </div>
    <div class="subtitle-container">
        <p>Kapcsolat</p>
    </div>
    <div class="paragraph" style="display: flex;">
        <ul style="padding-right: 5vw;">
            <li class="selectable">Instagram: _evillu</li>
            <li class="selectable">E-mail: evelin.illustration@gmail.com</li>
        </ul>
    </div>
</div>
