<div class="carousel-container">
    <div class="title-container">
        <p>Whiskers beneath Tokyo</p>
    </div>
    <div class="flickity-container">
        <div class="main-carousel gallery js-flickity">
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-00.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-01.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-02.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-03.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-04.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-05.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-06.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-07.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-08.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-09.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-10.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-11.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-12.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-13.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-14.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-15.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-16.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-17.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-18.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-19.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-20.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-21.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-22.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-23.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-24.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-25.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-26.jpg">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="assets/images/whiskers-beneath-tokyo/wbt-27.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
