<div class="carousel-container">
    <div class="title-container">
        <p>Te jól alszol?</p>
    </div>
    <div class="flickity-container">
        <div class="main-carousel gallery js-flickity" data-flickity-options='{ "wrapAround": false }'>
            <div class="carousel-cell">
                <div>
                    <img src="https://picsum.photos/seed/tja1/1000/1000">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="https://picsum.photos/seed/tja2/1000/1000">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="https://picsum.photos/seed/tja3/1000/1000">
                </div>
            </div>
            <div class="carousel-cell">
                <div>
                    <img src="https://picsum.photos/seed/tja4/1000/1000">
                </div>
            </div>
        </div>
    </div>
</div>