.text-container {
    display: flex;
    flex-direction: column;
    margin: 5% 0 5% 0;
}

.text-container .paragraph {
    color: white;
    margin: 0 5vw 3vh 5vw;
    justify-content: center;
    text-align: justify;
}

.subtitle-container {
    display: flex;
    justify-content: center;
}

.subtitle-container p {
    font-size: 3.5vh;
    color: white;
}

.selectable {
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}