.carousel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title-container p {
    font-size: 5vh;
    color: white;
}

.flickity-container {
    flex: 1;
}

.flickity-viewport {
    pointer-events: none;
}

.carousel-cell div {
    height:70vw;
    width:70vw;
    max-height: 65vh;
}

.carousel-cell div img {
    height: 100%;
    width: auto;
}

/* position dots in carousel */
.flickity-page-dots {
    bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}