.carousel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.title-container {
    display: flex;
    justify-content: center;
    margin: 0 5vw;
    text-align: center;
}

.title-container p {
    font-size: 5vh;
    color: white;
}

.flickity-container {
    flex: 1;
}

.flickity-viewport {
    /*pointer-events: none;*/
    touch-action: pan-y pinch-zoom !important;
}

.carousel-cell {
    width: 70vw; /* Adjust the width of each cell */
    max-width: 70vw; /* Set the maximum width relative to the screen size */
    margin: 0 auto; /* Center the cells horizontally */
    max-height: 70vh;
}

.carousel-cell div {
    height: 0; /* Set the height of the container div to 0 */
    padding-top: 70%;
    position: relative; /* Position the container div relative to its parent */
    overflow: hidden; /* Hide any content that overflows the container */
    max-height: 70vh;
}

.carousel-cell div.vertical {
    height: 0; /* Set the height of the container div to 0 */
    padding-top: 150%;
    position: relative; /* Position the container div relative to its parent */
    overflow: hidden; /* Hide any content that overflows the container */
}

.carousel-cell div img {
    position: absolute; /* Position the image absolutely within its container */
    top: 0; /* Position the image at the top of its container */
    left: 0; /* Position the image at the left of its container */
    width: 100%; /* Set the width of the image to 100% of its container */
    height: auto; /* Allow the height of the image to adjust proportionally */
    max-height: 70vh;
}




/* position dots in carousel */
.flickity-page-dots {
    bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}