.mindar-ui-overlay.evillu-ai-overlay {
    align-items: flex-end;
    justify-content: space-between;
    z-index: 3;
  }
  
  .evillu-ai-overlay .button {
    height: 7%;
    padding: 1%;
    background-color: #ffffff66;
    border-radius: 30%;
    margin: 2%;
    cursor: pointer;
    z-index: 4;
  }